p {
  max-width: 800px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, p {
  text-align: center;
}

#color-palette {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.color {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
}

#options {
  width: 500px;
  margin: 10px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  padding: 10px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: 3px solid transparent;
  background-color: rgba(150, 150, 150, 0.6);
}

.selected-color, .selected-option {
  border: 3px solid rgb(100, 100, 100);
}

.option:hover {
  cursor: default;
}

#easel {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(20, 20, 20);
}

.row {
  width: 100%;
  display: flex;
}

.pixel {
  border: 1px solid transparent;
  margin: -1px;
}

.pixel:hover {
  border: 1px solid rgba(20, 20, 20, 0.6);
}