p {
  max-width: 500px;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, p {
  text-align: center;
}

#color-palette {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.color {
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
}

.selected-color {
  border: 3px solid rgba(125, 125, 125, 1);
}

#easel {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(20, 20, 20, 1);
}

.row {
  width: 100%;
  display: flex;
}

.pixel {
  border: 1px solid transparent;
  margin: -1px;
}

.pixel:hover {
  border: 1px solid rgba(20, 20, 20, 0.6);
}