.hidden {
  display: none;
}

h1, p {
  text-align: center;
}

#easel {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid green;
}

#canvas {
  border: 1px solid purple;
}

.row {
  width: 100%;
  display: flex;
}

.pixel {
  border: 1px solid transparent;
  width: 5px;
  height: 5px;
}

.pixel:hover {
  border: 1px solid rgba(20, 20, 20, 0.6);
}