.hidden {
  display: none;
}

h1, p {
  text-align: center;
}

#easel {
  width: 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.row {
  border: 1px solid red;
  width: 100%;
  display: flex;
  flex: 1 0 auto;
}

.pixel {
  border: 1px solid blue;
  flex: 1 0 auto;
}